<!DOCTYPE html>
<html>
<head>
  <title>Sync</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 <div id="header">
				<%= link_to 'Home', users_path %> | 
        <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>
        <%= link_to "Register", new_user_path%> | 
        <%= link_to "Login", :login %>
        <% end %>
    </div>

<%= yield %>

	<div id="footer">
			<p>© Sync 2012</p>
	</div>
</body>
</html>
